footer.footer
    a(href='https://tonpa.guru/')
        img.footer__logo(src='https://longchenpa.guru/seal.png',width=50)
    span.footer__copy 2018&mdash;2019 &copy; <a href="https://etale.space/" style="color:Lavender;">Étale Infinity</a>
    script(src='https://groupoid.space/highlight.js')
