doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        meta(name='viewport'        content='width=device-width, initial-scale=1')
        meta(name='author'          content='Maxim Sokhatsky')
        meta(name='twitter:site'    content='@5HT')
        meta(name='twitter:creator' content='@5HT')
        meta(property='og:title'       content='ÉTALE')
        meta(property='og:description' content='Differential Geometry Introduction.')
        meta(property='og:type'        content='website')
        meta(property='fb:app_id'      content='118554188236439')
        meta(property='og:url'         content='https://etale.space')
        block title
            title ÉTALE
    body.content
        block content
        block vars

block title
    script(src='https://etale.space/styles/mathjax.js?config=TeX-AMS-MML_HTMLorMML')
    script.
       MathJax.Hub.Config({
          tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true },
          jax: ["input/TeX", "input/MathML", "input/AsciiMath", "output/CommonHTML", "output/NativeMML"],
          TeX: { extensions: ["AMSmath.js", "AMSsymbols.js", "autoload-all.js"] },
          extensions: ["tex2jax.js", "asciimath2jax.js", "mml2jax.js", "MathMenu.js", "MathZoom.js"],
          "HTML-CSS": { imageFont: null },
       });
    title Foundations

block content
    article.main
        .om
            section
                h1 Notes
            section
                p.
                    17 JAN 2019 &mdash; <a href='papers/limits/index.html'>Homotopy Limits</a><br>
                    17 JAN 2019 &mdash; <a href='papers/disc/index.html'>Differential Geometry</a><br>
                    17 JAN 2019 &mdash; <a href='papers/derham/index.html'>de Rham Cohesion</a><br>

    include footer

